// 
// Estilos para Layout
//

/*Header del Blog*/

.blog-header{
	h1{
		padding: 0 0 0 3%;
		@media (min-width: 680px){
			display: inline-block;
			width: 50%;
			float: left;
		}
	}
	
}

/*Footer */

footer{
    	width: 100%;
	h3{
		padding: 0 3%;
	}
}