
//Fuente --------
@import url(https://fonts.googleapis.com/css?family=Hind:400,500,600,700,300);
$hind: 'Hind', Arial, sans-serif;

//Colores --------

$hover: #B3DBF4;
$titles: #1674B6;
$titlesb: #77c2f4;
$bground: #BDCCD6;
$bgroundb: #abcedb;
$bgroundc: #ECECEC;
$stand-out: #9B6026;
$body: #1a4656;
$white: #f2f2f2;
$wrapper: #8E8E8E;
$basic: #515251;
$buttons: #6FC493;
$buttonshv: #488e65;
$facebook: #46629E;
$fbhover: #6D87BA;
$twitter: #55ACEE;
$twhover: #95C8ED;