
//Fuente --------
@import url(https://fonts.googleapis.com/css?family=Hind:400,500,600,700,300);
$hind: 'Hind', Arial, sans-serif;

//Colores --------

$azul-claro: #B3DBF4;
$azul-mar: #1674B6;
$gris-azul: #BDCCD6;
$cafe: #9B6026;
$blanco: #F4F4F4;
$negro: #515251;
$verde: #6FC493;
$facebook: #46629E;
$fbhover: #6D87BA;
$twitter: #55ACEE;
$twhover: #95C8ED;